{% load static %}
{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'inc/_head.html' %}
</head>
<body>
    <header>
        <nav class="top-nav" style="background-color: #4e5f0d;">
            <div class="container">
                <div class="nav-wrapper">
                    <a class="page-title">{% block pg-title %} {% include 'inc/_brandname.html' %} {% endblock pg-title %}</a>
                </div>
            </div>
        </nav>
        {% include 'inc/_header.html' %}
    </header>
    <main>
        <div class="container bsa">
          <div class="row">
            <div class="col s12 m9 l10">
            {% block body %}
                <h1>Hello world!</h1>
            {% endblock body %}
            </div>
            <div class="col hide-on-small-only m3 l2">
                {% include 'inc/_advert.html' %}
            </div>
          </div>
        </div>
    </main>
    <footer class="page-footer" style="background-color: #4e5f0d;">
        {% include 'inc/_footer.html' %}
    </footer>
    {% block scripts %} {% include 'inc/_scripts.html' %} {% endblock scripts %}
</body>
</html>
