{% extends 'base.html' %}
{% load staticfiles i18n %}

      {% block xtra-head %}
<script src="{% static 'my_files/jquery-3.2.1.min.js' %}"></script>
   <link href="{% static 'css/messages.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery.typeahead.bundle.js' %}"></script>
  <script src="{% static 'js/supply.typehead.js' %}"></script>
{% endblock xtra-head %}

{% block body %}
    <form class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="to" class="col-sm-1 control-label">To</label>
      <div class="col-sm-11">
        <input class="form-control typeahead" type="text" id="to" name="to">
      </div>
    </div>

    <div class="form-group">
      <label for="quantity" class="col-sm-1 control-label">Quantity</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" id="quatity" name="quantity">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-11 col-sm-offset-1">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </form>
  {% endblock body %}
    {% block scripts %}
<script>if (!window.jQuery) { document.write('<script src="{% static 'jquery-3.2.1.min.js' %}"><\/script>'); }</script>
<script src="{% static 'my_files/jquery.timeago.min.js' %}"></script>
<script src="{% static 'my_files/prism.js' %}"></script>
<script src="{% static 'my_files/lunr.min.js' %}"></script>
<script src="{% static 'my_files/search.js' %}"></script>
<script src="{% static 'my_files/materialize.js' %}"></script>
<script src="{% static 'my_files/init.js' %}"></script>
{% endblock scripts %}