{#{% extends 'base.html' %}#}
{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
      {% block xtra-head %}
    <link href="{% static 'css/kitinda.css' %}?v=1" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <link href="{% static 'css/messages.css' %}" rel="stylesheet">
  <script src="{% static 'js/messages.js' %}"></script>
  <script src="{% static 'js/jquery.typeahead.bundle.js' %}"></script>
  <script src="{% static 'js/supply.typehead.js' %}"></script>
{% endblock xtra-head %}
  </head>
  <body>

{% block body %}  <form class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="to" class="col-sm-1 control-label">To</label>
      <div class="col-sm-11">
        <input class="form-control typeahead" type="text" id="to" name="to">
      </div>
    </div>

    <div class="form-group">
      <label for="quantity" class="col-sm-1 control-label">Quantity</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" id="quatity" name="quantity">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-11 col-sm-offset-1">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </form>
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
  {% endblock body %}
  </body>
</html>
