{% load static %}
<div class="toc-wrapper pin-top" style="top: 0px;">
    <div class="buysellads hide-on-small-only">
        <div id="carbonads">
            <span>
                <span class="carbon-wrap">
                    <a href="#" class="carbon-img" target="_blank" rel="noopener">
                        <img src="{% static 'img/logo.jpg' %}" alt="" border="0" height="100" width="130" style="max-width: 130px;">
                    </a>
                    <p>hajimemashite onanoko san. isaka desu doozo yoroshiku</p>
                </span>
            </span>
        </div>
    </div>
    <div style="height: 1px;">
      <ul class="section table-of-contents">
        <li><a href="#" class="active">Pulse</a></li>
      </ul>
    </div>
</div>