{% load static %}
<div class="container">
  <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
      <i class="material-icons">menu</i>
  </a>
</div>

<ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0px);">
<li class="logo"><a id="logo-container" href="#" class="brand-logo">
    <img src="{% static 'img/logo.jpg' %}" alt="">
    <li class="search">
      <div class="search-wrapper card">
        <input id="search"><i class="material-icons">search</i>
        <div class="search-results"></div>
      </div>
    </li>
    <li class="bold"><a href="#" class="waves-effect waves-teal">Home</a></li>
    <li class="bold"><a href="#" class="waves-effect waves-teal">Production</a></li>
    <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
        <li class="bold"><a class="collapsible-header waves-effect waves-teal">PRODUCTION</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="{% url 'production:new_supply' %}">New Supply</a></li>
              <li><a href="{% url 'production:supply-add' %}">Add</a></li>
              <li><a href="{% url 'production:supply-list' %}">All Supply</a></li>
            </ul>
          </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-teal">CENTRES</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="{% url 'centre:centre-list' %}">All Centres</a></li>
              <li><a href="{% url 'centre:centre-add' %}">New Centre</a></li>
            </ul>
          </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-teal">ACCOUNTS</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="{% url 'accounts:login' %}">Login</a></li>
              <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
              <li><a href="{% url 'accounts:password-change' %}">Change Password</a></li>
              <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
            </ul>
          </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-teal">EMPLOYEE</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="{% url 'employees:employee-add' %}">New Employee</a></li>
              <li><a href="{% url 'employees:employee-list' %}">All Employees</a></li>
              <li><a href="{% url 'employees:rank-add' %}"> New Rank</a></li>
              <li><a href="{% url 'employees:rank-list' %}"> All Ranks</a></li>
            </ul>
          </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-teal">PAYMENT</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="{% url 'payment:payment-list' %}">All Payments</a></li>
              <li><a href="{% url 'payment:payment-add' %}">Make a Payment</a></li>
            </ul>
          </div>
        </li>
  </ul>
</li>
<li class="bold"><a href="#" class="waves-effect waves-green">Showcase</a></li>
<li class="bold"><a href="#" class="waves-effect waves-teal">Themes<span class="new badge"></span></a></li>
</ul>
