{% load static %}
<script src="{% static 'my_files/jquery-3.2.1.min.js' %}"></script>
<script>if (!window.jQuery) { document.write('<script src="{% static 'jquery-3.2.1.min.js' %}"><\/script>'); }
</script>
<script src="{% static 'my_files/jquery.timeago.min.js' %}"></script>
<script src="{% static 'my_files/prism.js' %}"></script>
<script src="{% static 'my_files/lunr.min.js' %}"></script>
<script src="{% static 'my_files/search.js' %}"></script>
<script src="{% static 'my_files/materialize.js' %}"></script>
<script src="{% static 'my_files/init.js' %}"></script>